<!DOCTYPE html>
<html>
  <head>
    <title>Advent of Code 2018</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Advent of Code 2018</h1>
    <ul>
      <li><a href="./solve/01">01</a></li>
      <li><a href="./solve/02">02</a></li>
      <li><a href="./solve/03">03</a></li>
      <li><a href="./solve/04">04</a></li>
      <li><a href="./solve/05">05</a></li>
      <li><a href="./solve/06">06</a></li>
      <li><a href="./solve/07">07</a></li>
      <li><a href="./solve/08">08</a></li>
      <li><a href="./solve/09">09</a></li>
      <li><a href="./solve/10">10</a></li>
      <li><a href="./solve/11">11</a></li>
      <li><a href="./solve/12">12</a></li>
      <li><a href="./solve/13">13</a></li>
      <li><a href="./solve/14">14</a></li>
      <li><a href="./solve/15">15</a></li>
      <li><a href="./solve/16">16</a></li>
      <li><a href="./solve/17">17</a></li>
      <li><a href="./solve/18">18</a></li>
      <li><a href="./solve/19">19</a></li>
      <li><a href="./solve/20">20</a></li>
      <li><a href="./solve/21">21</a></li>
      <li><a href="./solve/22">22</a></li>
      <li><a href="./solve/23">23</a></li>
      <li><a href="./solve/24">24</a></li>
      <li><a href="./solve/25">25</a></li>
    </ul>
  </body>
</html>
