<!DOCTYPE html>
<html>
  <head>
    <title>Advent of Code 2018</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Advent of Code 2018</h1>
    <ul>
      <li>Day 1: <a href="/solve/01/1">part 1</a>, <a href="/solve/01/2">part 2</a></li>
      <li>Day 2: <a href="/solve/02/1">part 1</a>, <a href="/solve/02/2">part 2</a></li>
      <li>Day 3: <a href="/solve/03/1">part 1</a>, <a href="/solve/03/2">part 2</a></li>
      <li>Day 4: <a href="/solve/04/1">part 1</a>, <a href="/solve/04/2">part 2</a></li>
      <li>Day 5: <a href="/solve/05/1">part 1</a>, <a href="/solve/05/2">part 2</a></li>
      <li>Day 6: <a href="/solve/06/1">part 1</a>, <a href="/solve/06/2">part 2</a></li>
      <li>Day 7: <a href="/solve/07/1">part 1</a>, <a href="/solve/07/2">part 2</a></li>
      <li>Day 8: <a href="/solve/08/1">part 1</a>, <a href="/solve/08/2">part 2</a></li>
      <li>Day 9: <a href="/solve/09/1">part 1</a>, <a href="/solve/09/2">part 2</a></li>
      <li>Day 10: <a href="/solve/10/1">part 1</a>, <a href="/solve/10/2">part 2</a></li>
      <li>Day 11: <a href="/solve/11/1">part 1</a>, <a href="/solve/11/2">part 2</a></li>
      <li>Day 12: <a href="/solve/12/1">part 1</a>, <a href="/solve/12/2">part 2</a></li>
      <li>Day 13: <a href="/solve/13/1">part 1</a>, <a href="/solve/13/2">part 2</a></li>
      <li>Day 14: <a href="/solve/14/1">part 1</a>, <a href="/solve/14/2">part 2</a></li>
      <li>Day 15: <a href="/solve/15/1">part 1</a>, <a href="/solve/15/2">part 2</a></li>
      <li>Day 16: <a href="/solve/16/1">part 1</a>, <a href="/solve/16/2">part 2</a></li>
      <li>Day 17: <a href="/solve/17/1">part 1</a>, <a href="/solve/17/2">part 2</a></li>
      <li>Day 18: <a href="/solve/18/1">part 1</a>, <a href="/solve/18/2">part 2</a></li>
      <li>Day 19: <a href="/solve/19/1">part 1</a>, <a href="/solve/19/2">part 2</a></li>
      <li>Day 20: <a href="/solve/20/1">part 1</a>, <a href="/solve/20/2">part 2</a></li>
      <li>Day 21: <a href="/solve/21/1">part 1</a>, <a href="/solve/21/2">part 2</a></li>
      <li>Day 22: <a href="/solve/22/1">part 1</a>, <a href="/solve/22/2">part 2</a></li>
      <li>Day 23: <a href="/solve/23/1">part 1</a>, <a href="/solve/23/2">part 2</a></li>
      <li>Day 24: <a href="/solve/24/1">part 1</a>, <a href="/solve/24/2">part 2</a></li>
      <li>Day 25: <a href="/solve/25/1">part 1</a>, <a href="/solve/25/2">part 2</a></li>
    </ul>
  </body>
</html>
