<!DOCTYPE html>
<html>
<head>
    <title>Advent of Code 2018 - Solution for level <%= lvl %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Advent of Code 2018 - Solution for level <%= lvl %></h1>
<p><b>Solution 1:</b> <%= solution1 %></p>
<p><b>Solution 2:</b> <%= solution2 %></p>
</body>
</html>