<%- include('partials/html_start') -%>
<h1>Advent of Code 2018</h1>
<p>Below are my the solutions to the <a href="https://adventofcode.com/2018" target="_blank">2018 Advent of Code
        challenge</a>. I only started my attempts well after the 25 of December 2018, but hey, it's still a fun
    challenge.</p>
<p>Truth be told looking at the answers is of little use. The real value is in the source code. You can view the source
    code over on my <a href="https://github.com/wernerva/advent-of-code-2018">GitHub repo</a>.<p>
<ul>
    <% for (var i = 1; i <= maxDay; i++) { %>
    <li>Day <%= i %> <a href="/solve/<%= i %>/1">part 1</a>, <a href="/solve/<%= i %>/2">part 2</a></li>
    <% } %>
</ul>
<% include partials/html_end %>