@import 'defaults';

html, body {
  background-color: $bg-color;
  color: $primary-color;
  font: $font-size-normal monospace;
  text-shadow: 0 0 5px $primary-color;
}

h1, h2, h3 {
  border-bottom: $primary-color dashed;
  border-bottom-width: medium;
  font-weight: 600;
}

h1 {
  font-size: $font-size-large;
  max-width: $max-container-width;
}

h2 {
  font-size: $font-size-medium;
  width: fit-content;
}

h3 {
  font-size: $font-size-normal;
  width: fit-content;
}

body {
  padding: 0 20px;
}

.container {
  max-width: $max-container-width;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: $primary-color;
}

a:active {
  color: $primary-color;
  text-shadow: 0 0 5px $primary-color;
}

a:hover {
  color: $primary-color;
  text-shadow: 0 0 5px $primary-color;
}

a, a:link, a:visited {
}

ul.vIndex {
  list-style: none;
  padding-left: 0;

  li:before {
    content: '$> ';
    padding-left: 0;
  }
}

ul {
  list-style: none;
  margin-left: 0;
  padding: 0;

  li {
    display: list-item;
    text-align: match-parent;
    padding-left: $font-size-normal;
    position: relative;
  }

  li:before {
    content: '> ';
    position: absolute;
    left: 0;
    top: 0;
  }
}

.solutionFooter {
  text-align: right;
}

code {
  font: $font-size-normal monospace;
  display: inline-block;
  padding: 0 3px;
  background-color: $primary-color;
  color: $bg-color;
  box-shadow: 0 0 5px $primary-color, 0 0 10px $primary-color;
}

.fas {
  color: $primary-color;
}